<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="color.measurement.com.from_cp20">
    <permission
        android:name="color.measurement.com.from_cp20.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    //normal


    <!-- Required 一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="color.measurement.com.from_cp20.permission.JPUSH_MESSAGE"/>

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    //dangerous
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:name=".module.App"
        android:allowBackup="true"
        android:icon="@mipmap/rainbow"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme.Day">
        <activity
            android:name=".module.other.SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.other.AdvertiseActivity"
            android:launchMode="singleTask"
            >
        </activity>

        <!-- <activity android:name=".module.main.MainActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->


        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".module.main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            >
        </activity>
        <activity
            android:name=".module.other.LoginActivity"
            android:screenOrientation="portrait"
            android:label="登录"
            >
        </activity>
        <activity
            android:name=".module.other.RegisterActivity"    android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".module.information.NewsDetiaslActivity"    android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".module.other.tools.ToolsActivity"    android:screenOrientation="portrait"
            >
        </activity>

        <!--<activity-->
            <!--android:name=".module.measure.lightcolor.LightColorActivity"-->
            <!--&gt;-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".module.main.MainActivity"/>-->
        <!--</activity>-->

        <activity
            android:name=".module.other.SettingActivity"    android:screenOrientation="portrait"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".module.other.GuideActivity"    android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".module.other.CompleteInfoActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".module.other.WebViewActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".module.Test.TestActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".module.measure.lightcolor.v2.LightColor2Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_light_color2"
            android:launchMode="singleInstance"
            >
        </activity>
        <activity
            android:name=".module.measure.lightcolor.v2.LightColor4Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_light_color4"
            android:launchMode="singleInstance"
            >
        </activity>
        <activity android:name=".module.measure.lustre.LustreActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/title_activity_lustre"
                  android:launchMode="singleInstance"
            ></activity>

        <activity android:name=".module.other.AboutActivity"
                  android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name=".module.other.UserInfoActivity"
                  android:screenOrientation="portrait"
            />

        <activity android:name=".module.database.lightcolor.LightColorDBActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleInstance"
            />

        <!--<receiver android:name=".module.main.MyBroadCaseReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="ELITOR_CLOCK" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- 推送 -->

        <!-- Required SDK核心功能-->

        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="color.measurement.com.from_cp20"/>
            </intent-filter>
        </activity>
        -
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            -
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="color.measurement.com.from_cp20"/>
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        -
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult">
            -
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        -
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            -
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="color.measurement.com.from_cp20"/>
            </intent-filter>
        </service>
        <!-- Required SDK核心功能-->
        -
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            -
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <!--Required 显示通知栏 -->
                <category android:name="color.measurement.com.from_cp20"/>
            </intent-filter>
            -
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            -
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>
        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="273f63d85f0524e9cb9185c4"/>

        <receiver
            android:name=".module.main.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <category android:name="color.measurement.com.from_cp20"/>
            </intent-filter>
        </receiver>

        <!-- 推送 -->


        <!-- qq第三方 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106082920"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 微博登录 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


    </application>

</manifest>